
# sample codes
/captcha-detection.ipynb
/captcha-recognition.ipynb
/building-a-captcha-ocr-in-tf2-0.ipynb
/sample-codes.py

# Agah captcha detector
/Agah_Captcha_Solver.py

# Links
/links.txt

# Digits dataset
/digits-dataset.zip

# Test scripts
/test.py