
# sample codes
/captcha-detection.ipynb
/captcha-recognition.ipynb
/building-a-captcha-ocr-in-tf2-0.ipynb
/sample-codes.py
/segmentation.ipynb

# Agah captcha detector
/Agah_Captcha_Solver.py

# Links
/links.txt

# Datasets
/digits-dataset.zip
/dataset.zip
/dataset

# Test scripts
/test.py

# Pretrained model
/pretrained_model