
# sample codes
E:\prj\python\captcha-recognition\captcha-detection.ipynb
E:\prj\python\captcha-recognition\captcha-recognition.ipynb
E:\prj\python\captcha-recognition\sample-codes.py

# Agah captcha detector
/Agah_Captcha_Solver.py

# Links
E:\prj\python\captcha-recognition\links.txt

# Digits dataset
E:\prj\python\captcha-recognition\digits-dataset.zip